:root {
    --punk-cyan: #a216c5;
    --punk-green: #00ff37;
    --glass-cyan: rgba(245, 118, 0, 0.836);
    --punk-pink: #1d048a;
    --bg-black: #00b3ff;
}

body {
    background-color: var(--bg-black);
    color: var(--punk-cyan);
    font-family: 'Courier New', monospace;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

color {
    color: white;
}

header {
    min-height: 50px;
}

h1 {
    color: var(--punk-pink);
    text-shadow: 0 0 10px var(--punk-pink), 0 0 20px var(--punk-pink);
}

#container {
    width: 100%;
    display: flex;
    gap: 0rem;
    flex-wrap: wrap;
    justify-content: space-around;
}



